parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - tests/Fixtures/*
        - demo/*
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false
